In [ ]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [ ]:
print(f'pandas version: {pd.__version__}')
pd.Timestamp.now()

In [ ]:
url = 'https://github.com/prasertcbs/basic-dataset/raw/master/IMDBtop1000.csv';
df= pd.read_csv(url, usecols=['Title', 'Actors'])
df

Case Sensitive

In [ ]:
df[df['Title'].str.contains('man')]

Case Insensitive

In [ ]:
df[df['Title'].str.contains(r'man', case=False)]

Starts With

In [ ]:
df[df['Title'].str.contains(r'^man', case=False)]

Ends With

In [ ]:
df[df['Title'].str.contains(r'man$', case=False)]

Boundary

In [ ]:
df[df['Title'].str.contains(r'man\b', case=False)]

Match one of a set of characters [aeiou]

In [ ]:
# df[df['Title'].str.contains(r'[1234you]', case=False)]

df[df['Title'].str.contains(r'[1-4you]', case=False)]

In [ ]:
df[df['Title'].str.contains(r'wom[ae]n$', case=False)]

Or

In [ ]:
df[df['Title'].str.contains(r'bat|spider', case=False)]

In [ ]:
df[df['Title'].str.contains(r'(bat|spider|ant)man', case=False)]

In [ ]:
df[df['Title'].str.contains(r'(bat|spider|ant|iron)\s*man', case=False)]

In [ ]:
df[df['Title'].str.contains(r'(bat|spider|ant|iron)[\-\s]*man', case=False)]

Group

In [ ]:
df[df['Title'].str.contains(r'^(bat|spider|ant|iron)', case=False)]

\d for digit

In [ ]:
df[df['Title'].str.contains(r'\d', case=False)]

Find 2 Column

In [ ]:
df[df['Title'].str.contains(r'iron|avenger', case=False) & df['Actors'].str.contains(r'chris', case=False)]

And with lookahead ?=

In [ ]:
df[df['Actors'].str.contains('.*Downey.*Evans', case=False)]

In [ ]:
df[df['Actors'].str.contains('(?=.*Evans)(?=.*Downey)', case=False)]

Quantifiers

- *, ?, +
- a* -> a{0,}
- a+ -> a{1,}
- a? -> a{0,1}

In [ ]:
df[df['Title'].str.contains(r'i*', case=False)]

In [ ]:
df[df['Title'].str.contains(r'i+', case=False)]

In [31]:
df[df['Title'].str.contains(r'i{2,}', case=False)]

,Title,Actors
50,Star Wars: Episode VII - The Force Awakens,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna..."
206,Raw (II),"Garance Marillier, Ella Rumpf, Rabah Nait Oufe..."
609,Hellboy II: The Golden Army,"Ron Perlman, Selma Blair, Doug Jones, John Ale..."
693,Pompeii,"Kit Harington, Emily Browning, Kiefer Sutherla..."
720,Nymphomaniac: Vol. II,"Charlotte Gainsbourg, Stellan Skarsgård, Wille..."
869,Mission: Impossible III,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."

In [32]:
df[df['Title'].str.contains(r'\bi{2,}', case=False)]

,Title,Actors
206,Raw (II),"Garance Marillier, Ella Rumpf, Rabah Nait Oufe..."
609,Hellboy II: The Golden Army,"Ron Perlman, Selma Blair, Doug Jones, John Ale..."
720,Nymphomaniac: Vol. II,"Charlotte Gainsbourg, Stellan Skarsgård, Wille..."
869,Mission: Impossible III,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."

In [33]:
df[df['Title'].str.contains(r'\bi{2}\b', case=False)]

,Title,Actors
206,Raw (II),"Garance Marillier, Ella Rumpf, Rabah Nait Oufe..."
609,Hellboy II: The Golden Army,"Ron Perlman, Selma Blair, Doug Jones, John Ale..."
720,Nymphomaniac: Vol. II,"Charlotte Gainsbourg, Stellan Skarsgård, Wille..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."